@import "../assets/fonts/fontiran.css";

.v-application {
    font-family: 'IranSans' !important;
}

.v-application span.caption {
    font-family: 'IranSans' !important;
}

strong {
    font-family: 'IranSans' !important;
}

pre {
    font-family: 'IranSans' !important;
}

.v-application .font-farsi {
    font-family: 'IranSans' !important;
}

.text-normalize {
    font-family: 'IranSans' !important;
    letter-spacing: 0 !important;
}