// replace vuetify vars

$body-font-family: 'IRANSans',
sans-serif !default;
$heading-font-family: 'IRANSans',
sans-serif !default;
$tabs-item-letter-spacing: 0;
$btn-letter-spacing: 0;

$headings: ('button': ('letter-spacing': 0),
    'h1': ('letter-spacing': 0,
    ),
    'h2': ('letter-spacing': 0,
    ),
    'h3': ('letter-spacing': 0,
    ),
    'h4': ('letter-spacing': 0,
    ),
    'h5': ('letter-spacing': 0,
    ),
    'h6': ('letter-spacing': 0,
    ),
    'subtitle-1': ('letter-spacing': 0,
    ),
    'subtitle-2': ('letter-spacing': 0,
    ),
    'body-1': ('letter-spacing': 0,
    ),
    'body-2': ('letter-spacing': 0,
    ),
    'caption': ('letter-spacing': 0,
    ),
    'overline': ('letter-spacing': 0,
    ));

@import '~vuetify/src/styles/styles.sass';